.task-items-container{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;

  &.checked{
    border: 2px solid grey;
  }

  &__left-float {
    display: flex;
  }
}