.task-items-container{
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;

  &__left-float {
    display: flex;
  }
}