.task-checkbox-container{
  margin: 0.4rem 1rem 0 0;

  &__input {
    width: 1.8rem;
    height: 1.8rem;
    //clip-path: inset(0 0 0 0 round 10px);
    appearance: none;
    border: 2px solid gray;

    &:checked {
      position: relative;

      &::before {
        position: absolute;
        content: '✓';
        width: 100%;
        height: 100%;
        font-size: 24px;
        font-weight: bold;
        color: #444;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
